*.iml
.gradle
/local.properties
.idea
/.idea
.DS_Store
/build
/captures
/app/build
.externalNativeBuild
.cxx
.kotlin
.qodo
.tmp
caches
daemon
gradle/wrapper/gradle-wrapper.jar
native
wrapper

local.properties